@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    font-family: Oswald;
    font-size: 20px;
}

.truckright-quickapp-container {
    background: transparent;
    margin: auto;
    padding: 20px;
}
